@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rochester&display=swap");

:root {
	--bg-body: hsl(20, 100%, 97%); /* Lightest background */
	--bg-section: hsl(17, 84%, 87%); /* Soft peachy section/card background */
	--bg-accent: hsl(351, 52%, 80%); /* Accent (e.g., hover, highlights) */
	--bg-navbar: hsl(320, 26%, 75%); /* Navbar / footer background */

	/* Buttons */
	--bg-button: hsl(351, 52%, 80%);
	--bg-button-hover: hsl(320, 26%, 69%);

	/* Text */
	--text-primary: hsl(320, 26%, 25%);
	--text-secondary: hsla(320, 26%, 25%, 0.7);
	--text-light: hsl(20, 100%, 97%);

	/* Fonts */
	--font-logo: "Rochester";
	--font-primary: "Poppins", sans-serif;
	--font-heading: "Inter", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	color: var(--text-light);
}

section {
	padding: 1rem 2rem;
	margin-bottom: 1rem;
}

body {
	background-color: var(--bg-body);
	font-family: var(--font-primary);
}

a {
	text-decoration: none;
	color: inherit;
}

.header-section {
	background-color: var(--bg-navbar);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-section ul {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.header-section ul li {
	list-style-type: none;
	transition: all 0.3s ease;
    font-weight: 500;
}

.header-section ul li:hover {
	color: var(--text-nav-hover);
	font-size: 1.1rem;
}

.header-section .logo {
	font-family: var(--font-logo);
	font-size: 2.5rem;
}
