@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rochester&display=swap");

:root {
	--bg-body: hsl(20, 100%, 97%); /* Lightest background */
	--bg-section: hsl(17, 84%, 87%); /* Soft peachy section/card background */
	--bg-accent: hsl(351, 52%, 80%); /* Accent (e.g., hover, highlights) */
	--bg-navbar: hsl(320, 26%, 75%); /* Navbar / footer background */

	/* Buttons */
	--bg-button: hsl(351, 52%, 80%);
	--bg-button-hover: hsl(320, 26%, 69%);

	/* Text */
	--text-primary: hsl(320, 26%, 25%);
	--text-secondary: hsla(320, 26%, 25%, 0.7);
	--text-light: hsl(20, 100%, 97%);
    --text-instock: hsl(120, 100%, 44%);
    --text-percent: hsl(241, 100%, 50%);
    --text-outofstock: hsl(0, 100%, 44%);

	/* Fonts */
	--font-logo: "Rochester";
	--font-primary: "Poppins", sans-serif;
	--font-heading: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	color: var(--text-light);
}

section {
	padding: 1rem 2rem;
	margin-bottom: 1rem;
}

body {
	background-color: var(--bg-body);
	font-family: var(--font-primary);
}

a {
	text-decoration: none;
	color: inherit;
}

.header-section {
	background-color: var(--bg-navbar);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.header-section ul {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.header-section ul li {
	list-style-type: none;
	transition: all 0.3s ease;
	font-weight: 500;
}

.header-section ul li:hover, .footer-3 .footer-body:hover {
	color: var(--text-primary);
	font-size: 1.1rem;
}

.header-section .logo {
	font-family: var(--font-logo);
	font-size: 2.5rem;
	transition: all 0.3s ease;
}

.header-section .logo:hover {
	cursor: default;
	color: var(--text-primary);
	scale: 1.1;
}

.hero, .footer {
	padding: 0;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.hero img, .footer img {
	margin: 0;
	padding: 0;
	width: 100%;
	object-fit: cover;
	display: block;
	z-index: 0;
}

.hero-texts, .footer-texts {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.hero-main {
    font-size: 7rem;
    text-align: start;
}

.hero-sub{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.hero-btn {
    padding: 1rem 2rem;
    align-self: flex-end;
    background-color: transparent;
    font-size: 1.25rem;
    border-radius: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--text-light);
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background-color: var(--bg-button);
    border-color: transparent;
    color: var(--text-primary);
}

.footer {
    padding: 0;
    margin: 0;
}

.footer-texts {
    flex-direction: row;
    justify-content: space-between;
    top: 50%;
    width: 100%;
}

.footer-1, .footer-2, .footer-3 {
    width: calc(100%/3);
}

.footer-logo {
    font-size: 3rem;
    font-family: var(--font-logo);
    color: var(--text-primary);
}

.footer-head {
    font-size: 1.1rem;
    color: var(--text-primary);
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer-body {
    color: var(--text-secondary);
}

.footer-2, .footer-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.footer-3 {
    padding-right: calc(100%/10);
}

.items {
    display: flex;
    padding: 0rem 10rem;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.item {
    width: calc((100% - 20rem) / 4);
    display: flex;
    flex-direction: column;
}

.item * {
    color: var(--text-primary);
}

.item img {
    width: 100%;
}


.item-price, .availability {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.item button {
    margin-top: 1rem;
    width: 100%;
    align-self: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-button);
    border-style: solid;
    border-color: var(--bg-button);
    transition: all 0.3s ease;
    cursor: pointer;
}

.item button:hover {
    background-color: transparent;
}

.availability {
    color: var(--text-instock);
}

.out {
    color: var(--text-outofstock);
}

.section-head {
    color: var(--text-primary);
    font-size: 5rem;
    text-align: center;
    font-family: var(--font-heading);
    margin-bottom: 2rem;
}

.discount {
    opacity: 0.8;
    text-decoration: line-through;
}

.disc-per {
    color: var(--text-percent);
}